<!-- ============================================ -->
<!--                Call To Action                -->
<!-- ============================================ -->

<section id="cta-2372">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Start Your Journey Towards Wellness Today</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus unde id saepe quo. Est, ea! Lorem, ipsum dolor.
            </p>
            <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-button-solid">Book Now</a>
        </div>
        <img class="cs-graphic" src="/assets/svgs/healing-hands.svg" alt="graphic" loading="lazy" decoding="async" width="490" height="451">
        <img class="cs-floater" loading="lazy" decoding="async" src="/assets/svgs/flower2.svg" alt="flower blur" width="851" height="991" aria-hidden="true">
    </div>
</section>
                                