
<!-- ============================================ -->
<!--                  Footer                      -->
<!-- ============================================ -->

<footer id="footer-2395">
    <div class="cs-container">
        <div class="cs-logo-group">
            <a href="" class="cs-logo" aria-label="back to home">
                <img src="/assets/svgs/logo-w.svg" alt="logo" loading="lazy" decoding="async" width="321" height="56" aria-hidden="true">
            </a>
            <p class="cs-text">
                Begin your journey to physical wellness with authentic therapeutic massage treatments for pain relief, stress reduction, and overall wellbeing, available in Normanton.
            </p>
            <div class="cs-contact-info">
                <span class="cs-header">Contact</span>
                <a href="tel:{{client.phoneForTel}}" class="cs-contact-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/phone-w.svg" alt="icon" width="24" height="24" loading="lazy" decoding="async" aria-hidden="true">
                    {{client.phoneFormatted}}
                </a>
                <a href="mailto:info@email.com" class="cs-contact-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/mail-w.svg" alt="icon" width="24" height="24" loading="lazy" decoding="async" aria-hidden="true">
                    {{client.email}}
                </a>
                <a href="/" class="cs-contact-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/pin-w.svg" alt="icon" width="24" height="24" loading="lazy" decoding="async" aria-hidden="true">
                    {{client.address.lineOne}}<br>
                    {{client.address.city}}<br>
                    {{client.address.state}} {{client.address.zip}}
                </a>
            </div>
             <!--<div class="cs-social">
                <a href="{{client.socials.facebook}}" class="cs-social-link" aria-label="visit facebook">
                    <img class="cs-social-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/face-w.svg" alt="icon" width="12" height="12" loading="lazy" decoding="async" aria-hidden="true">
                </a>
                <a href="{{client.socials.instagram}}" class="cs-social-link" aria-label="visit instagram">
                    <img class="cs-social-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/insta-w.svg" alt="icon" width="12" height="12" loading="lazy" decoding="async" aria-hidden="true">
                </a>
            </div>-->
        </div>
        <div class="cs-service-group">
            <span class="cs-header">Services</span>
            <ul class="cs-ul">
                <li class="cs-link">Thai Hot Oil Full Body Massage</li>
                <li class="cs-link">Deep Tissue Full Body Massage</li>
                <li class="cs-link">Hot Oil Relaxing Massage</li>
                <li class="cs-link">Foot Massage</li>
                <li class="cs-link">Head, Back & Shoulders Massage</li>
            </ul>
            <div class="cs-terms">
                <a href="/about/" class="cs-link">About Us</a>
                <a href="/contact/" class="cs-link">Contact Us</a>
                <a href="/massages/" class="cs-link">Massages</a>
            </div>
            <span class="cs-copyright">
                © {% year %} <a href="https://splendidsites.com/" target="_blank" rel="noopener" class="cs-link">Splendid Sites</a> 
                
            </span>
        </div>
    </div>
    <img class="cs-floater" src="/assets/svgs/flower.svg" alt="flower graphic" loading="lazy" decoding="async" width="635" height="728" aria-hidden="true">
</footer>
                                