<!-- ============================================ -->
<!--                  Footer                      -->
<!-- ============================================ -->

<footer id="footer-2395">
    <div class="cs-container">
        <div class="cs-logo-group">
            <a href="" class="cs-logo" aria-label="back to home">
                <img src="/assets/svgs/logo-w.svg" alt="logo" loading="lazy" decoding="async" width="321" height="56" aria-hidden="true">
            </a>
            <p class="cs-text">
                Personalised, integrated care for women. Guiding you toward a more active and balanced life in Aylesbury.
            </p>
            <div class="cs-contact-info">
                <span class="cs-header">Contact</span>
                <a href="tel:{{client.phoneForTel}}" class="cs-contact-link">
                    <img class="cs-icon" src="/assets/svgs//phone-w.svg" alt="icon" width="24" height="24" loading="lazy" decoding="async" aria-hidden="true">
                    {{client.phoneFormatted}}
                </a>
                <a href="mailto:info@email.com" class="cs-contact-link">
                    <img class="cs-icon" src="/assets/svgs/mail-w.svg" alt="icon" width="24" height="24" loading="lazy" decoding="async" aria-hidden="true">
                    {{client.email}}
                </a>
                <a href="/" class="cs-contact-link">
                    <img class="cs-icon" src="/assets/svgs/pin-w.svg" alt="icon" width="24" height="24" loading="lazy" decoding="async" aria-hidden="true">
                    {{client.address.lineOne}}, {{client.address.city}}, {{client.address.zip}}
                </a>
            </div>
             <!--<div class="cs-social">
                <a href="{{client.socials.facebook}}" class="cs-social-link" aria-label="visit facebook">
                    <img class="cs-social-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/face-w.svg" alt="icon" width="12" height="12" loading="lazy" decoding="async" aria-hidden="true">
                </a>
                <a href="{{client.socials.instagram}}" class="cs-social-link" aria-label="visit instagram">
                    <img class="cs-social-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/insta-w.svg" alt="icon" width="12" height="12" loading="lazy" decoding="async" aria-hidden="true">
                </a>
            </div>-->
        </div>
        <div class="cs-service-group">
            <span class="cs-header">Quick Links</span>
            <ul class="cs-ul">
                <li class="cs-li"><a href="/about/" class="cs-link">About Us</a></li>
                <li class="cs-li"><a href="/chiropractic/" class="cs-link">Chiropractic</a></li>
                <li class="cs-li"><a href="/pilates/" class="cs-link">Pilates</a></li>
                <li class="cs-li"><a href="/physio/" class="cs-link">Physio</a></li>
                <li class="cs-li"><a href="/contact/" class="cs-link">Contact Us</a></li>
                <li class="cs-li"><a href="/blog/" class="cs-link">News</a></li>
            </ul>
            <div class="cs-terms">
                <a href="/privacy/" class="cs-link">Privacy Policy</a>
                <a href="/cookies/" class="cs-link">Cookie Policy</a>
                <a href="/terms/" class="cs-link">Terms & Conditions</a>
            </div>
            <span class="cs-copyright">
                © {% year %} <a href="https://splendidsites.com/" target="_blank" rel="noopener" class="cs-link">Splendid Sites</a> 
                
            </span>
        </div>
    </div>
    <img class="cs-floater" src="/assets/svgs/flower.svg" alt="flower graphic" loading="lazy" decoding="async" width="635" height="728" aria-hidden="true">
</footer>
                                