<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-2386">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Our Expert Team</span>
                <h2 class="cs-title">What Clients Are Saying</h2>
            </div>
            <a href="{{client.socials.googleReview}}" target="_blank" rel="noopener" class="cs-button-solid">Leave A Review</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-quote">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" src="/assets/svgs/purple-quote.svg" decoding="async" alt="profile" width="30" height="24" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-header">
                        Friendly <br>and welcoming
                    </span>
                </div>
                <p class="cs-review">
                    “Had a lovely relaxing massage today at Chokdee. Have known Jay for nearly 3 years and she is very experienced, friendly and welcoming. Room and location ideal. Would recommend a visit.”
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/svgs/profile.svg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        David Lee
                        <span class="cs-job">Verified Customer</span>
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-quote">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" src="/assets/svgs/purple-quote.svg" decoding="async" alt="profile" width="30" height="24" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-header">
                        Absolutely<br> recommend
                    </span>
                </div>
                <p class="cs-review">
                   "It was a very good massage with Jay. I had pain in back and shoulder and left completely relaxed and feeling really good. Absolutely recommend and will be back again"
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/svgs/profile.svg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        S Spinks
                        <span class="cs-job">Verified Customer</span>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</section>
                                