<!-- ============================================ -->
<!--               Side By Side Pair              -->
<!-- ============================================ -->

<section id="sbs-2375">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Treatments</span>
            <h2 class="cs-title">Comprehensive Care for Women's Health and Movement</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus unde id saepe quo. Est, ea! Lorem, ipsum dolor.
            </p>
        </div>
        <div class="cs-wrapper">
            <!--Side By Side-->
            <div class="cs-flex">
                <div class="cs-content2">
                    <h3 class="cs-h3">Chiropractic</h3>
                    <p class="cs-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus unde id saepe quo. Est, ea! Lorem, ipsum dolor.
                    </p>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/swirl.svg" alt="checkmark" width="24" height="24">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/swirl.svg" alt="checkmark" width="24" height="24">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/swirl.svg" alt="checkmark" width="24" height="24">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        </li>
                    </ul>
                    <a href="/chiropractic/" class="cs-link">Chiropractic</a>
                </div>
                <picture class="cs-picture">
                    <!--Mobile Image -->
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/chiropractic.jpg" | resize({width: 448, height: 480}) | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/chiropractic.jpg" | resize({width: 448, height: 480}) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/chiropractic.jpg" | resize({width: 448, height: 480}) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image -->
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/chiropractic.jpg" | resize({width: 776, height: 820}) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/chiropractic.jpg" | resize({width: 776, height: 820}) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/chiropractic.jpg" | resize({width: 776, height: 820}) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image -->
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/chiropractic.jpg" | resize({width: 1056, height: 812}) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/chiropractic.jpg" | resize({width: 1056, height: 812}) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/chiropractic.jpg" | resize({width: 1056, height: 812}) | jpeg %}" type="image/jpeg">
                    <img src="{% getUrl "/assets/images/chiropractic.jpg" | resize({width: 1056, height: 812}) | jpeg %}" alt="chiropractic" width="528" height="406" loading="lazy" decoding="async">
                </picture>
            </div>
            <!--SBS Reverse-->
            <div class="cs-flex">
                <div class="cs-content2">
                    <h3 class="cs-h3">Pilates</h3>
                    <p class="cs-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus unde id saepe quo. Est, ea! Lorem, ipsum dolor.
                    </p>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/swirl.svg" alt="checkmark" width="24" height="24">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/swirl.svg" alt="checkmark" width="24" height="24">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/swirl.svg" alt="checkmark" width="24" height="24">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        </li>
                    </ul>
                    <a href="/pilates/" class="cs-link">Pilates</a>
                </div>
                <picture class="cs-picture">
                    <!--Mobile Image -->
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/pilates.jpg" | resize({width: 448, height: 480}) | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/pilates.jpg" | resize({width: 448, height: 480}) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/pilates.jpg" | resize({width: 448, height: 480}) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image -->
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/pilates.jpg" | resize({width: 776, height: 820}) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/pilates.jpg" | resize({width: 776, height: 820}) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/pilates.jpg" | resize({width: 776, height: 820}) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image -->
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/pilates.jpg" | resize({width: 1056, height: 812}) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/pilates.jpg" | resize({width: 1056, height: 812}) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/pilates.jpg" | resize({width: 1056, height: 812}) | jpeg %}" type="image/jpeg">
                    <img src="{% getUrl "/assets/images/pilates.jpg" | resize({width: 1056, height: 812}) | jpeg %}" alt="pilates" width="528" height="406" loading="lazy" decoding="async">
                </picture>
            </div>
            <!--Side By Side-->
            <div class="cs-flex">
                <div class="cs-content2">
                    <h3 class="cs-h3">Physio</h3>
                    <p class="cs-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus unde id saepe quo. Est, ea! Lorem, ipsum dolor.
                    </p>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/swirl.svg" alt="checkmark" width="24" height="24">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/swirl.svg" alt="checkmark" width="24" height="24">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/swirl.svg" alt="checkmark" width="24" height="24">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        </li>
                    </ul>
                    <a href="/physio/" class="cs-link">Physio</a>
                </div>
                <picture class="cs-picture">
                    <!--Mobile Image -->
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/physio.jpg" | resize({width: 448, height: 480}) | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/physio.jpg" | resize({width: 448, height: 480}) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/physio.jpg" | resize({width: 448, height: 480}) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image -->
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/physio.jpg" | resize({width: 776, height: 820}) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/physio.jpg" | resize({width: 776, height: 820}) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/physio.jpg" | resize({width: 776, height: 820}) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image -->
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/physio.jpg" | resize({width: 1056, height: 812}) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/physio.jpg" | resize({width: 1056, height: 812}) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/physio.jpg" | resize({width: 1056, height: 812}) | jpeg %}" type="image/jpeg">
                    <img src="{% getUrl "/assets/images/physio.jpg" | resize({width: 1056, height: 812}) | jpeg %}" alt="physio therapy" width="528" height="406" loading="lazy" decoding="async">
                </picture>
            </div>
        </div>
        <a href="/massages/" class="cs-button-solid">All Massages</a>
    </div>
</section>
                                