<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-2419">
	<div class="cs-container">
		<div class="cs-content">
			<span class="cs-topper">Our Experts</span>
			<h2 class="cs-title">Meet the Team Behind Your Wellness Journey</h2>
			<p class="cs-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus unde id saepe quo. Est, ea! Lorem, ipsum dolor.</p>
		</div>
		<ul class="cs-card-group">
			<li class="cs-item">
				<div class="cs-image-group">
					<!--Noise Graphic Download from the CDN and change the background color of the svg to match your branding color-->
					<img class="cs-graphic" aria-hidden="true" decoding="async" src="/assets/svgs/circle-c.svg" width="413" height="413" alt="noise graphic" />
					<!--Member-->
					<picture class="cs-picture">
						<source media="(max-width: 600px)" srcset="/assets/images/doctor.png" />
						<source media="(min-width: 601px)" srcset="/assets/images/doctor.png" />
						<img loading="lazy" decoding="async" src="/assets/images/doctor.png" alt="Julia Simms" width="413" height="424" aria-hidden="true" />
					</picture>
				</div>
				<div class="cs-flex">
					<span class="cs-name">Julia Simms</span>
					<span class="cs-job">Chiropractor</span>
				</div>
			</li>
			<li class="cs-item">
				<div class="cs-image-group">
					<!--Noise Graphic-->
					<img class="cs-graphic" aria-hidden="true" decoding="async" src="/assets/svgs/circle-p.svg" width="413" height="413" alt="noise graphic" />
					<!--Member-->
					<picture class="cs-picture">
						<source media="(max-width: 600px)" srcset="/assets/images/doctor.png" />
						<source media="(min-width: 601px)" srcset="/assets/images/doctor.png" />
						<img loading="lazy" decoding="async" src="/assets/images/doctor.png" alt="Julia Simms" width="413" height="424" aria-hidden="true" />
					</picture>
				</div>
				<div class="cs-flex">
					<span class="cs-name">Name</span>
					<span class="cs-job">Pilates Instructor</span>
				</div>
			</li>
			<li class="cs-item">
				<div class="cs-image-group">
					<!--Noise Graphic-->
					<img class="cs-graphic" aria-hidden="true" decoding="async" src="/assets/svgs/circle-y.svg" width="413" height="413" alt="noise graphic" />
					<!--Member-->
					<picture class="cs-picture">
						<source media="(max-width: 600px)" srcset="/assets/images/doctor.png" />
						<source media="(min-width: 601px)" srcset="/assets/images/doctor.png" />
						<img loading="lazy" decoding="async" src="/assets/images/doctor.png" alt="Julia Simms" width="413" height="424" aria-hidden="true" />
					</picture>
				</div>
				<div class="cs-flex">
					<span class="cs-name">Name</span>
					<span class="cs-job">Physiotherapist</span>
				</div>
			</li>
		</ul>
	</div>
</section>